@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-inter {
  font-family: "Inter", sans-serif;
}

.text {
  border: 1px solid seashell;
  font-size: 48px;
}

.nav-btn {
  background: linear-gradient(135deg,
      #6a00ff,
      #ff2da8,
      #ff8c00,
      #ffd500);
  display: flex;
  padding: 12px 16px;
  color: white;
}

.hero-section {
  max-width: 100%;
  background-image: url(./assets/hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-circle {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

@keyframes moving {
  from {
    left: 40%;
  }

  to {
    left: 60%
  }
}

.hero-icon {
  /* animation: moving 2s ease-in-out infinite alternate; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.new-btn {
  right: 35px;
  top: 10px;
  position: absolute;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  padding: 5px 16px;
  font-family: 'Inter';
  border-radius: 1000px;
  box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
  background: #00FF88;
}

.about-section p {
  opacity: 0.8;
}

.btn-listen {
  background: linear-gradient(135deg,
      #ffd500,
      #ff2da8,
      #ff8c00,
      #6a00ff);
}

.menu {
  display: none;
}

footer .bg img {
  width: 100%;
}

/* Responsive design */
@media screen and (max-width:576px) {

  /* .hide {
    display: none;
  }

  .menu {
    padding: 10px;
    margin-left: 20px;
    justify-content: space-between;
  }

  .menu {
    display: inline;
  }

  nav {} */
  header {
    display: none;
  }

  .hero-section {
    background-image: url(./assets/hero-mobile.png);
    background-position: top;
    background-size: initial;
  }

  .hero-parent {
    padding-top: 0;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .hero-circle {
    margin-top: 40px;
    width: 200px;
    top: unset;
  }

  .hero-icon img {
    width: 47px;
    height: 70px;
  }

  .hero-content {
    margin-top: 24px;
  }

  .hero-content h1 {
    font-size: 40px;
  }

  .hero-content .btn-listen,
  .hero-content .btn-subscribe {
    padding-top: 12.5px;
    padding-bottom: 12.5px;
  }

  .new-btn {
    right: 5px;
  }

  .about-section {
    padding: 0 20px;
  }

  .about-section h1 {
    font-size: 32px;
  }

  .about-section p {
    padding-right: 0;
    padding-left: 0;
  }

  .why-choose {
    padding: 40px 20px;
  }

  .featured-section {
    padding: 40px 20px;
  }

  .host-section>div {
    padding: 40px 20px;
  }
}