
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-inter {
  font-family: "Inter", sans-serif;
}

.text {
    border: 1px solid seashell;
    font-size: 48px;
}


.nav-btn{
    
  background: linear-gradient(135deg,
  #6a00ff,
  #ff2da8,
  #ff8c00,
  #ffd500
  );
   display: flex;
   padding: 12px 16px;
   color: white;
 }


.hero-parent {
    max-width: 100%;
    background-image: url(./assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
 }
.hero-circle {
  display: flex;
 align-items: center;
 justify-content: center;
  position: relative;
  top: 80px;

}

@keyframes moving {
  from{
    left: 0;
  }
  to{
    left: 50px
  }
}


.hero-icon {
   position: relative;
   top: -200px;
   right: -20px;
   animation: moving 2s ease-in-out  infinite alternate ;
}
.new-btn {
    position: relative;
    width: 43px;
    height: 22px;
    border-radius: 10px;
     top: -60px;
     font-weight: 600;
}

.btn-listen{
  background: linear-gradient(135deg,
  #ffd500,
  #ff2da8,
  #ff8c00,
  #6a00ff
  );
}
.menu{
  display: none;
}
   


/* Responsive design */
@media screen and (max-width:576px) {
  .hide{
    display: none;
  }
 
  .menu{
    padding: 10px;
    margin-left: 20px;
  }

  .menu{
  display: inline;
}
}
